{% extends 'base.html' %}

{% block app_content %}

<h2 class="tagline">RadRiders Admin</h2>

<hr>

<p>
    <a href="{{ url_for('admin_bp.list_user') }}">See users list</a><br>
    <a href="{{ url_for('admin_bp.list_trails') }}">See trail networks list</a><br>
    <a href="{{ url_for('admin_bp.list_status') }}">See status updates list</a>
</p>

{% if trails_to_approve %}
    <p><a href="{{ url_for('trails_bp.approve_trails') }}">Approve Trails ({{ trails_to_approve }})</a></p>
{% else %}
    <p>No trails awaiting approval.</p>
{% endif %}

{% endblock %}