{% extends 'base.html' %}

{% block app_content %}

</div></div>
<div>
<div class="container" style="max-width:100%;">
<h2 class="tagline">All Status Updates</h2>

<table class="table table-striped table-hover">
   <tr>
        {% for title in titles %}
            {% if title == 'user_id' %}
                {% set title = 'Username' %}
            {% endif %}
            <th class="text-center">{{ title|title }}</th>
        {% endfor %}
    </tr>
        {% for item in items %}
    <tr>
            {% for title in titles %}
                <td class="text-center">
                {% if title == 'active' %}
                    {% if item[title] == True %}
                        <a href="{{ url_for('admin_bp.deactivate', table='status', id=item.id) }}">{{ item[title] }}</a>
                    {% else %}
                        <a href="{{ url_for('admin_bp.activate', table='status', id=item.id) }}">{{ item[title] }}</a>
                    {% endif %}
                {% elif title == 'user_id' %}
                    {{ item.author.username }}
                {% elif title == 'trail_system' %}
                    {{ item.trails.name|truncate(15) }}
                {% elif item[title]|int or item[title] == True or item[title] == False or item[title] == None or title == 'timestamp' %}
                    {{ item[title] }}
                {% else %}
                    {{ item[title]|truncate(40) }}
                {% endif %}
                </td>
            {% endfor %}

    </tr>
        {% endfor %}
</table>


{% endblock %}