{% extends 'base.html' %}

{% block app_content %}

</div></div>
<div>
<div class="container" style="max-width:100%;">
<h2 class="tagline">All Registered Users</h2>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Active</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ 'Yes' if item.admin else 'No' }}</td>
        <td>{{ 'Yes' if item.active else 'No' }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}