{% extends 'base.html' %}

{% block app_content %}

</div></div>
<div>
<div class="container" style="max-width:100%;">
<h2 class="tagline">All Status Updates</h2>

<table class="table table-striped">
    <tr>
        <th>Trail Network</th>
        <th>Author</th>
        <th>Date/Time</th>
        <th>Update</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.trails.name }}</td>
        <td>{{ item.author.username }}</td>
        <td>{{ moment(item.timestamp).format('LLL') }}</td>
        <td>{{ item.body }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}