{% extends 'base.html' %}

{% block app_content %}

</div></div>
<div>
<div class="container" style="max-width:100%;">
<h2 class="tagline">All Trail Networks</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Province</th>
        <th>Approved</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.province }}</td>
        <td>{{ 'Yes' if item.approved else 'No' }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}