@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Permanent+Marker|Merriweather&display=swap');




body{ 
    background:
        repeating-linear-gradient(
            -13deg,
            #f2f7f7,
            #f2f7f7 10px,
            #f6f9fa 10px,
            #f6f9fa 20px
        );
}


hr.dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.div-status-top {
    padding: 5px 10px;
    background: #247ba0;
    color: #f1f1f1;
    border-radius: 8px 8px 0px 0px;
}

.div-status-middle {
    position: relative;
    color: #0a2463;
    padding: 5px 10px;
    border: 1px solid #1a535C;
    border-width: 0 1px 1px 1px;
    border-radius: 0;
    margin-bottom: 0;
}

.div-status-bottom {
    position: relative;
    color: #0a2463;
    padding: 5px 10px;
    border: 1px solid #1a535C;
    border-width: 0 1px 1px 1px;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 15px;
}

/* This section sets the translucent background image */
.div-status-bottom::before, .div-status-middle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background: url('/static/trees-bg.png') #f1f1f1;
}

.div-status-top a:link,
.div-status-top a:visited,
.div-status-top a:active {
    color: #f1f1f1;
    text-decoration: none;
}

.div-status-top a:hover {
    color: #d5e1e6;

}

.outlined {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.title-header a:link,
.title-header a:visited {
    color: #ff002b;
    text-decoration: none;
}

.title-header a:hover {
    color: rgb(51, 255, 0);
    text-decoration: non;
}

.title-header a:active {
    color: rgb(31, 153, 0);
    text-decoration: none;
}

.title-header {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker';
    color: #ff002b;
    text-align: center;   
}

.tagline {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

.well {
    border-radius: 6px;
    background:
    repeating-linear-gradient(
        13deg,
        #fffefa,
        #fffefa 10px,
        #fcfbf8 10px,
        #fcfbf8 20px
    );
}