{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Add a Trail System</h1>
    <form action="" method="post" class="form" role="form">
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if approving %}
        <br>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ url_for('trails_bp.reject_trails', trail_id=trail_id) }}" method="GET">
                    <input class="btn btn-default" id="reject" type="submit" value="Reject">
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {% if approving %}
        <script type="text/javascript">
            document.getElementById('submit').classList.add("btn-success")
            document.getElementById('reject').classList.add("btn-danger")
        </script>
        {{ super() }}
    {% endif %}
{% endblock %}