{% extends 'base.html' %}

{% block app_content %}

<script type="text/javascript">


    function subscribe_to_trail(id) {
        console.log('subscribing to trail ' + id);
        var dest = document.getElementById('subscribe'+id);
        $.post('/subscribe/'+id).done(function(response) {
            console.log(dest);
            html = '<a role="button" class="btn btn-success unsub" id="trail' + id + '">Subscribed!</a>';
            dest.innerHTML = html;
            }).fail(function() {
                dest.innerHTML = 'Error! Not subscribed!';
            })
        }

    function unsubscribe_from_trail(id) {
        console.log('unsubscribing from trail ' + id);
        var dest = document.getElementById('subscribe'+id);
        $.post('/unsubscribe/'+id).done(function(response) {
            console.log(dest);
            html = '<a role="button" class="btn btn-danger sub" id="trail' + id + '">Unsubscribed!</a>';
            dest.innerHTML = html;
            }).fail(function() {
                dest.innerHTML = 'Error! Still subscribed!';
        })
    }


    document.addEventListener('click', function (event) {
        // If the clicked element doesn't have the right selector, bail
        clicked = event.target
        if (!clicked.matches('.sub') && !clicked.matches('.unsub')) return;
        // Don't follow the link
        event.preventDefault();
        // Log the clicked element in the console
        if (clicked.matches('.sub')) {
            subscribe_to_trail(event.target.id.substr(5));
        }
        else {
            unsubscribe_from_trail(event.target.id.substr(5));
        }
    }, false);

</script>


<h2 class="tagline">All currently monitored trails</h2>

<hr class="dashed">

    {% include '_signup.html' %}

    {% for status in statuses %}
        {% include '_location.html' %}
    {% endfor %}


{% endblock%}