{% extends 'base.html' %}

{% block app_content %}

<h1 class="title-header outlined">RadRiders MTB</h1>


<h2 class="tagline">
    {% if stranger %}Crowdsourced Trail Conditions
    {% else %}Latest updates for subscribed trails
    {% endif %}
</h2>

<hr class="dashed">

{% if stranger %}
    <p>Please create an account to subscribe to specific trails!</p>
{% endif %}

{% for status in statuses %}
    {% include '_status.html' %}
{% else %}
    <p>You aren't subscribed to any trails!</p>
    <p>Click <a href="{{ url_for('trails_bp.explore_trails') }}">here</a> for the trail list.</p>
{% endfor %}


{% endblock %}