{% extends 'base.html' %}

{% block app_content %}

<h2 class="tagline">Add new trail status</h2>

<hr class="dashed">

<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group "><label class="control-label" for="trails">Trail Network</label>
        <select class="form-control" id="trails" name="trails">
            {% for trail in form.trails.choices %}
                {% set trail_id = trail[0] %}
                {% set trail_name = trail[1] %}
                <option value="{{ trail_id }}" {% if trail_id|string() == selected_trail_id|string() %}selected="selected"{% endif %}>{{ trail_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group  required"><label class="control-label" for="body">Status</label>    
        <textarea class="form-control" id="body" name="body" placeholder="{{form.body.render_kw['placeholder']}}" required></textarea>
    </div>
    
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Add Status">

</form>

<script>

function remaining_chars() {
    var textbox = document.getElementById('body');
    var dest = document.getElementById('countdown_div');
    chars_entered = textbox.value.length;
    if (chars_entered > 240 && dest.style.color != '#900') {
        dest.style.color = '#c66';
    }
    else if (chars_entered < 240 && dest.style.color != '#000') {
        dest.style.color = '#666';

    }
    dest.innerHTML = (280 - chars_entered) + ' characters remaining &nbsp;';
}

function auto_grow() {
    var textbox = document.getElementById('body');
    textbox.style.height='5px';
    textbox.style.height = (textbox.scrollHeight)+'px';
}

var countdown = document.createElement('div');
countdown.setAttribute('id', 'countdown_div');
countdown.classList.add('text-right');
countdown.style.color = '#666';
countdown.innerHTML = '280 characters remaining &nbsp;';

var status_box = document.getElementById('body');
status_box.parentNode.appendChild(countdown);

status_box.addEventListener('keyup', remaining_chars);
status_box.addEventListener('keyup', auto_grow);

</script>

{% endblock %}