<div class="div-status-top">
    <b><a href="{{ url_for('trails_bp.trails', trail_id=statuses[tc.total_count].trails.id) }}">{{ statuses[tc.total_count].trails.name }}</a></b>
                ({{ statuses[tc.total_count].trails.city }},
                {{ statuses[tc.total_count].trails.province }})
</div>

{% for i in range(index) %}
    {% if i < (index-1) %}
    <div class="div-status-middle">
    {% else %}
    <div class="div-status-bottom">
    {% endif %}
        <b>{{ statuses[tc.total_count].body }}</b><br>
        <div width="100%" style="text-align: right;">
            <span style="color: #73abc2;">
                <b><a href="{{ url_for('users_bp.users', username=statuses[tc.total_count].author.username) }}" class="user-link">{{ statuses[tc.total_count].author.username }}</a></b>,
                {{ moment(statuses[tc.total_count].timestamp).fromNow() }}</span>

                {% if current_user == statuses[tc.total_count].author %}
                    <a href="{{ url_for('status_bp.delete_status', status_id=statuses[tc.total_count].id) }}">[Delete]</a>
                {% elif not statuses[tc.total_count].author.username == 'RadBot' %}
                    <a href="{{ url_for('status_bp.report_status', status_id=statuses[tc.total_count].id) }}" class="text-warning">[Report]</a>
                {% endif %}
        </div>
        {% set tc.total_count = tc.total_count + 1 %}
    </div>
{% endfor %}