<div class="div-status-top">
    <b><a href="{{ url_for('trails_bp.trails', trail_id=status.trails.id) }}">{{ status.trails.name }}</a></b>
                ({{ status.trails.city }}, {{ status.trails.province }})
</div>

<div class="div-status-bottom">
    <b>{{ status.body }}</b><br>
    <div width="100%" style="text-align: right;">
        <span style="color: #73abc2;">
            <b><a href="{{ url_for('users_bp.user', username=status.author.username) }}" class="user-link">{{ status.author.username }}</a></b>,
            {{ moment(status.timestamp).fromNow() }}
        </span>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('status_bp.report_status', status_id=status.id) }}" class="text-warning">[Report]</a>
        {% endif %}
    </div>
</div>