<html>
    <head>
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}

        {% if title %}
            <title>{{ title }} - RadRiders MTB</title>
        {% else %}
            <title>RadRiders MTB - Rightful Home of the Whopper</title>
        {% endif %}
    </head>

    <body>
        <p style="color: red;">[ WARNING - Currently super-alpha. High likelihood anything you do
            will be accidentally destroyed. Go nuts. ]</p>
        <div>RadRiders: 
            <a href="{{ url_for('trails_bp.index') }}">Home</a>
            <a href="{{ url_for('trails_bp.explore_trails') }}">Trail List</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('status_bp.new_status') }}">Update Status</a>
                <a href="{{ url_for('trails_bp.add_trails') }}">Add Trails</a>
            {% endif %}
            {% if current_user.admin %}
                <a href="{{ url_for('admin_bp.admin') }}">Admin Panel</a>
            {% endif %}
            {% if current_user.is_anonymous %}
                <a href="{{url_for('users_bp.login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('users_bp.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    
    </body>
</html>