{% extends 'bootstrap/base.html' %}

    {% block head %}
        {{ super() }}
        <meta name="google-site-verification" content="eSz4UlxUTL4tjRAMgxUrnKM0rVrpOK4hUBi39DnUdl0" />
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <meta name="description" content="Up-to-date, crowdsourced mountain bike trail conditions across Canada.">
    {% endblock %}

    {% block title %}
        {% if title %}
            {{ title }} - RadRiders MTB
        {% else %}
            RadRiders MTB - Rightful Home of the Whopper
        {% endif %}
    {% endblock %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='radstyles.css') }}">
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analytics.radriders.ca/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    {% endblock%}

    {% block navbar %}
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if current_user.is_anonymous %}
                        <a class="navbar-brand" href="{{ url_for('trails_bp.explore_trails') }}">Trail List</a>
                    {% else %}
                        <a class="navbar-brand" href="{{ url_for('trails_bp.index') }}">See Latest Updates</a>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li><a  class="navbar-link" href="{{ url_for('trails_bp.explore_trails')}}">View All Trails</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('status_bp.new_status') }}">+New Status</a></li>
                            <li><a href="{{ url_for('trails_bp.add_trails') }}">Add Trail System</a></li>
                            <li><a href="{{ url_for('users_bp.users', username=current_user.username) }}">Profile</a></li>
                        {% endif %}
                        {% if current_user.admin %}
                            <li><a href="{{ url_for('admin_bp.admin') }}">Admin Panel</a></li>
                        {% endif %}
                        {% if current_user.is_anonymous %}
                            <li><a href="{{url_for('users_bp.login') }}">Login</a></li>
                        {% else %}
                            <li><a href="{{ url_for('users_bp.logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
        <div class="container" style="max-width: 640px;">
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <h1 class="title-header outlined">
            <a href="{{ url_for('trails_bp.index') }}">RadRiders MTB</a>
        </h1>


        {% block app_content %}{% endblock %}
        
        {% include 'footer.html' %}
            </div>
    {% endblock %}